clouds:
  cloud:
    auth:
      auth_url:     "{{endpoint}}"
      username:     "admin"
      password:     "{{password}}"
      project_name: "admin"
    interface:     "admin"
    endpoint-type: "admin"
repository: "https://localhost/applications/tree/master/"
token:      "{{token}}"
